.title-input-group input:nth-of-type(3), #flaws {
	width: 32%;
}
textarea.form-control {
	line-height: 1.2
}
#flaws-reset {
	border-color: #adb5bd;
}
#copy-btn {
	position: absolute;
	right: 5px;
}
.popover {
	background-color: black;
	border: none;
}
.popover-body {
	padding: 0.25rem 0.5rem;
	color: white;
}
.popover .arrow::after {
	border-top-color: black;
}
.popover .arrow::before {
	border-top-color: rgba(0,0,0,0);
}
