#clear-btn {
	position: absolute;
	left: 15px;
}
.title-input-group input:nth-of-type(3) {
	width: 29%;
}
#flaws {
	width: 24%;
}
#flaws-reset {
	border-color: #adb5bd;
}
#measurement2-input-group {
	margin-bottom: 20px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#generate-btn {
	margin-right: -5px;
}
textarea.form-control {
	line-height: 1.2
}
#copy-btn {
	position: absolute;
	right: 5px;
}

/* Popover styling */
.popover {
	background-color: black;
	border: none;
}
.popover-body {
	padding: 0.25rem 0.5rem;
	color: white;
}
.popover .arrow::after {
	border-top-color: black;
}
.popover .arrow::before {
	border-top-color: rgba(0,0,0,0);
}


@media (max-width: 767.98px) { 
	#flaws-group>.input-group-append>.input-group-text {
		width: 150px;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) { 
	#flaws-group>.input-group-append>.input-group-text {
		width: 250px;
	}
}